@model IEnumerable<MVCApp.Models.PostViewModels.PostViewModel>
@{
    ViewData["Title"] = "List Post";
}

<h2>@ViewData["Title"]</h2>
<a class="btn btn-default" href="@Url.Action("Create")">New Post</a>
<div class="row">
    <div class="col-md-4">
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Short Description</th>
                    <th>Content</th>
                    <th>Thumbnail Image</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td>@item.ShortDescription</td>
                        <td>@item.Content</td>
                        <td>@item.ThumbnailImage</td>
                        <td>
                            <a href="@Url.Action("Update", new { id = item.Id })">Update</a>
                            <a href="@Url.Action("Delete", new { id = item.Id })">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

