@model MVCApp.Models.HomePageViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div id="main-body"class="row">
    <div class="col-md-3 left-panel">
        <div class="list-group">
            <a href="#" class="list-group-item active">
                Categories
            </a>
            @foreach (var item in Model.Categories)
            {
                <a href="@Url.Action("Index", new { categoryId = item.CategoryId})" class="list-group-item">@item.Name</a>
            }
        </div>
    </div>
    <div class="col-md-9 post-content">
        @foreach (var item in Model.Posts)
        { 
        <div class="row block-post">
            <div class="post-header">
                <img src="@Url.Action("Image","Post", new { id = item.ImageId})" alt="No image"/>
            </div>
            <div class="post-body">
                <div>
                    <a href="/blog/@item.Slug">
                        <span class="title">@item.Title</span>
                    </a>
                </div>
                <div>
                    <span class="description">@item.ShortDescription</span>
                </div>
                <div>
                    <span class="">@item.CreatedDate.ToString()</span>
                    <div class="fb-share-button" data-href="https://sd2542.azurewebsites.net/blog/asdasd" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fsd2542.azurewebsites.net%2Fblog%2Fasdasd&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Chia sẻ</a></div>
                </div>
            </div>
        </div>
        }
    </div>
</div>
